<!------------header begin---------->
<div class="navbar navbar-inverse user-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Jockjs Api平台</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="adminApi" class="btn" href="/admin" target="_blank" role="button" style="text-decoration: underline">维护api</a></li>
                <li><a style="display: none" class="btn" href="/help" target="_blank" role="button">登录</a></li>
                <li><a style="display: none" class="btn" href="/help" target="_blank" role="button">注册</a></li>
                <!--<li><a href="/help" target="_blank" >Help</a>-->
            </ul>
        </div>
    </div>
</div>
<!------------header end---------->