<!-- bootstrap js-->
<!--<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>-->
<script src="/jquery/dist/jquery.js"></script>
<script src="/script/jquery.json-2.4.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>

<script src="/codemirror-4.3/lib/codemirror.js"></script>
<script src="/codemirror-4.3/lib/formatting.js"></script>
<script src="/codemirror-4.3/addon/search/searchcursor.js"></script>
<script src="/codemirror-4.3/addon/search/search.js"></script>
<script src="/codemirror-4.3/addon/dialog/dialog.js"></script>
<script src="/codemirror-4.3/addon/edit/matchbrackets.js"></script>
<script src="/codemirror-4.3/addon/edit/closebrackets.js"></script>
<script src="/codemirror-4.3/addon/comment/comment.js"></script>
<script src="/codemirror-4.3/addon/wrap/hardwrap.js"></script>
<script src="/codemirror-4.3/addon/fold/foldcode.js"></script>
<script src="/codemirror-4.3/addon/fold/brace-fold.js"></script>
<script src="/codemirror-4.3/mode/javascript/javascript.js"></script>
<script src="/codemirror-4.3/mode/css/css.js"></script>
<script src="/codemirror-4.3/mode/xml/xml.js"></script>
<script src="/codemirror-4.3/mode/htmlmixed/htmlmixed.js"></script>
<script src="/codemirror-4.3/keymap/sublime.js"></script>
<script src="/codemirror-4.3/addon/fold/foldgutter.js"></script>


<script src="/script/admin.js"></script>