<!------------header begin---------->
<div class="navbar navbar-default user-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Jockjs Api 维护页面</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="btn" href="/" target="_blank" role="button" style="text-decoration: underline">Jock Api平台</a></li>
                <!--<li><a href="/help" target="_blank" >Help</a>-->
            </ul>
        </div>
    </div>
</div>
<!------------header end---------->