<div id="editor" class="panel panel-default">
    <div class="panel-body">
        <div style="position: relative">
            <span style="position: absolute; right: 0; top: -12px">
                <button id="codeReset" type="button" class="btn btn-default navbar-btn">重置</button>
                <button id="codeRun" type="button" class="btn btn-default navbar-btn">运行</button>
            </span>
        </div>
        <ul class="nav nav-tabs " id="editorTab" role="tablist">
            <li class="active">
                <a href="#htmlEditor" data-toggle="tab">html</a>
            </li>
            <li>
                <a href="#cssEditor" data-toggle="tab">css</a>
            </li>
            <li>
                <a href="#jsEditor" data-toggle="tab">javascript</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="htmlEditor">
            </div>
            <div class="tab-pane" id="cssEditor" >
            </div>
            <div class="tab-pane" id="jsEditor" >
            </div>
        </div>
    </div>
</div>
<div id="editorTip" style="display: none" class="panel panel-default">
    暂无示例
</div>


